{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Staging Endpoint",
      "url": "https://api.sandbox.bureau.id"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Database Verification",
    "description": "API documentation for Bureau API's."
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/v2/services/digilocker-init": {
      "post": {
        "summary": "Aadhaar Digilocker Initiate",
        "tags": [
          "Aadhaar Verification - DigiLocker"
        ],
        "operationId": "Digilocker Intiate Latest",
        "description": "The API initiates a fetch and retrieve operation of details from the Digital Locker or a DigiLocker.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docType": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": [
                        "dl",
                        "pan",
                        "rc",
                        "uan"
                      ],
                      "description": "The type of document that for retrieval. In case only aadhaar is required the field can be skipped.\n"
                    }
                  },
                  "panNumber": {
                    "type": "string",
                    "example": "AAAAA1111A",
                    "description": "The Pan number of the user that needs to be fetched along with the Aadhar, Mandatory in case you are fetching the PAN\n"
                  },
                  "panName": {
                    "type": "string",
                    "example": "User Name",
                    "description": "The Pan name of the user that needs to be fetched along with the Aadhar, Mandatory in case you are fetching the PAN\n"
                  },
                  "dlNumber": {
                    "type": "string",
                    "example": "KA202015XXXXXXXX",
                    "description": "The DL number of the user that needs to be fetched along with the Aadhar, Mandatory in case you are fetching the PAN\n"
                  },
                  "rcNumber": {
                    "type": "string",
                    "example": "KA20MA1111",
                    "description": "The RC the vehicle that needs to be fetched along with the Aadhar, Mandatory in case you are fetching the rc\n"
                  },
                  "chassisNumber": {
                    "type": "string",
                    "example": "MYHxxxxxxx923",
                    "description": "The Chassis Number of the vehicle that needs to be fetched along with the Aadhar, Mandatory in case you are fetching the RC\n"
                  },
                  "uan": {
                    "type": "string",
                    "example": "12345678",
                    "description": "The UAN of the user that needs to be fetched along with the Aadhar, Mandatory in case you are fetching the UAN\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://d1gafm3lb98o7g.cloudfront.net/05789cda-1111-4cea-1111-9b21c3251a1f\n",
                      "description": "The url customer has to be redirected on."
                    },
                    "sessionId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "This has to be used in the next request to fetch the response."
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 401
                        },
                        "errorCode": {
                          "type": "string",
                          "example": "UNAUTHORIZED"
                        },
                        "service": {
                          "type": "string",
                          "example": "Overwatch"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": " "
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "integer",
                          "example": 0
                        },
                        "took": {
                          "type": "integer",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No Record Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 422
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 422,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 500
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal Server Error"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "Internal Server Error"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 503
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "INTERNAL_SERVICE_UNAVAILABLE"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 503,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1705049954335,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/services/digilocker-fetch-status": {
      "post": {
        "summary": "Aadhaar Digilocker Fetch Status",
        "tags": [
          "Aadhaar Verification - DigiLocker"
        ],
        "operationId": "Digilocker Fetch Latest",
        "description": "The API initiates a fetch and retrieve operation of details from the Digital Locker or a DigiLocker.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                    "description": "SessionID from the previous request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documents": [
                    {
                      "dob": "18111998",
                      "docType": "aadhaar",
                      "fetchStatus": "SUCCESS",
                      "gender": "M",
                      "mobile": "",
                      "name": "User Name",
                      "pdfUrl": "",
                      "xmlUrl": "https://orch-xxx-mb-xxx-xxxx-objects.s3.ap-south-1.amazonaws.com/4f5dd141-422f-45bf-8128-652c48bbdcb8.xml?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAZSOVLDOPZCWLSSMW%2F20230320%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20230320T072057Z&X-Amz-Expires=300&821cc9af1ee744f65d837b5e2ecc67ec7cba6e8\n"
                    }
                  ],
                  "merchantId": "auth0|61drko6dfd61920071be0369",
                  "requestId": "d6158daa-940b-459b-882e-d7765b3d042f",
                  "sessionId": "6884cdfb-f910-4220-897f-91dfe59cbec5",
                  "status": "Completed",
                  "statusCode": 200,
                  "timestamp": 1679297086646,
                  "userAuthorized": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 401
                        },
                        "errorCode": {
                          "type": "string",
                          "example": "UNAUTHORIZED"
                        },
                        "service": {
                          "type": "string",
                          "example": "Overwatch"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": " "
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "integer",
                          "example": 0
                        },
                        "took": {
                          "type": "integer",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No Record Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 422
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 422,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 500
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal Server Error"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "Internal Server Error"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 503
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "INTERNAL_SERVICE_UNAVAILABLE"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 503,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1705049954335,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/services/digilocker-list-issued-documents": {
      "post": {
        "summary": "Aadhaar Digilocker Fetch Issued Documents",
        "tags": [
          "Aadhaar Verification - DigiLocker"
        ],
        "operationId": "Digilocker Fetch Issued Documents",
        "description": "API to fetch the list of issued documents.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                    "description": "SessionID from the previous request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "documents": [
                    {
                      "name": "Aadhaar Card",
                      "type": "file",
                      "date": "15-05-2023",
                      "fileFormat": [
                        "application/pdf"
                      ],
                      "uri": "in.gov.uidai-ADHAR-b814d8ccbfee2c279cf73568e0a47fa8",
                      "docType": "ADHAR",
                      "description": "Aadhaar Card",
                      "issuerId": "in.gov.uidai",
                      "issuer": "Aadhaar, Unique Identification Authority of India"
                    },
                    {
                      "name": "Driving License",
                      "type": "file",
                      "date": "10-04-2023",
                      "fileFormat": [
                        "application/json",
                        "application/xml",
                        "application/pdf"
                      ],
                      "uri": "in.gov.transport-DRVLC-KA2020150007900",
                      "docType": "DRVLC",
                      "description": "Driving License",
                      "issuerId": "in.gov.transport",
                      "issuer": "Ministry of Road Transport and Highways"
                    },
                    {
                      "name": "PAN Verification Record",
                      "type": "file",
                      "date": "10-04-2023",
                      "fileFormat": [
                        "application/json",
                        "application/xml",
                        "application/pdf"
                      ],
                      "uri": "in.gov.pan-PANCR-DSOPP1842Q",
                      "docType": "PANCR",
                      "description": "PAN Verification Record",
                      "issuerId": "in.gov.pan",
                      "issuer": "Income Tax Department"
                    },
                    {
                      "name": "UAN Card",
                      "type": "file",
                      "date": "17-04-2023",
                      "fileFormat": [
                        "application/pdf"
                      ],
                      "uri": "in.gov.epfindia-UNCRD-101476783458XX18YY11YY1995",
                      "docType": "UNCRD",
                      "description": "UAN Card",
                      "issuerId": "in.gov.epfindia",
                      "issuer": "Employees' Provident Fund Organization"
                    }
                  ],
                  "merchantId": "auth0|61drko6dfd61920071be0369",
                  "requestId": "65e5c7af-08d0-46c2-b279-53934da12bc1",
                  "statusCode": 200,
                  "timestamp": 1685185609130
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 401
                        },
                        "errorCode": {
                          "type": "string",
                          "example": "UNAUTHORIZED"
                        },
                        "service": {
                          "type": "string",
                          "example": "Overwatch"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": " "
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "integer",
                          "example": 0
                        },
                        "took": {
                          "type": "integer",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No Record Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 422
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 422,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 500
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal Server Error"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "Internal Server Error"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 503
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "INTERNAL_SERVICE_UNAVAILABLE"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 503,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1705049954335,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/suppliers/init-doc-fetch": {
      "post": {
        "summary": "Aadhaar Digilocker Initiate (Additional Consent Flow)",
        "tags": [
          "Aadhaar Verification - DigiLocker"
        ],
        "operationId": "Digilocker Intiate Fetch",
        "description": "The API initiates a fetch and retrieve operation of details from the Digital Locker or a DigiLocker.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "callbackUrl",
                  "cancelUrl"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "aadhaar",
                    "description": "The type of document that for retrieval. For Aadhaar services, use the value 'aadhaar'.\n"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "example": "https://exhayb.x.pipxxeam.net/",
                    "description": "The callback URL for success notification."
                  },
                  "cancelUrl": {
                    "type": "string",
                    "example": "https://exhayb.x.pipxxeam.net/",
                    "description": "The callback URL for cancel notification."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expiry": {
                      "type": "string",
                      "example": "2023-03-25 08:00:57.171158",
                      "description": "The validity of the link."
                    },
                    "url": {
                      "type": "string",
                      "example": "https://d1gafm3lb98o7g.cloudfront.net/05789cda-1111-4cea-1111-9b21c3251a1f\n",
                      "description": "The url customer has to be redirected on."
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "transactionId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the transaction."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 401
                        },
                        "errorCode": {
                          "type": "string",
                          "example": "UNAUTHORIZED"
                        },
                        "service": {
                          "type": "string",
                          "example": "Overwatch"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": " "
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "integer",
                          "example": 0
                        },
                        "took": {
                          "type": "integer",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No Record Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 422
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 422,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 500
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal Server Error"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "Internal Server Error"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 503
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "INTERNAL_SERVICE_UNAVAILABLE"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 503,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1705049954335,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/id/{userid}/suppliers/offline-aadhaar": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "userid",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Aadhaar Digilocker Details (Additional Consent Flow)",
        "tags": [
          "Aadhaar Verification - DigiLocker"
        ],
        "operationId": "Digilocker Retrive Aadhaar details",
        "description": "The API fetches details of Aadhaar document from the Digital Locker.\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aadhaarPDFUrl": {
                      "type": "string",
                      "example": "https://orch-prd-mb-s3-documents-objects.s3.ap-south-1.amazonaws.com/a11586fb-xxx-xxxx-xxxx-99e3f2b6d8f135c04f0799a2f\n",
                      "description": "The user detials in PDF for the Digilocker Flow"
                    },
                    "aadhaarXMLUrl": {
                      "type": "string",
                      "example": "https://orch-prd-mb-s3-documents-objects.s3.ap-south-1.amazonaws.com/a11586fb-xxx-xxxx-xxxx-99e3f2b6d8f135c04f0799a2f\n",
                      "description": "The user detials in XML for the Digilocker Flow"
                    },
                    "dob": {
                      "type": "string",
                      "example": "18091996",
                      "description": "The user date of birth in Epoch"
                    },
                    "name": {
                      "type": "string",
                      "example": "User Name",
                      "description": "The name of the user as per the aadhaar records"
                    },
                    "gender": {
                      "type": "string",
                      "example": "M",
                      "description": "The gender of the user as per the aadhaar records"
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "transactionId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the transaction."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 200,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 401
                        },
                        "errorCode": {
                          "type": "string",
                          "example": "UNAUTHORIZED"
                        },
                        "service": {
                          "type": "string",
                          "example": "Overwatch"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": " "
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "integer",
                          "example": 0
                        },
                        "took": {
                          "type": "integer",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No Record Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 422
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 422,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 500
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal Server Error"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "Internal Server Error"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 503
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "INTERNAL_SERVICE_UNAVAILABLE"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 503,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1705049954335,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/services/generate-captcha": {
      "post": {
        "summary": "1. Generate Captcha",
        "tags": [
          "Aadhaar Verification - oKYC"
        ],
        "operationId": "Aadhaar OKYC - Generate Captcha",
        "description": "This API is part of Bureau's Offline Know Your Customer (oKYC) suite. This API generates a captch that helps you filter out bots and protect your platform from fraudsters and impostors.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encodedCaptcha": {
                      "type": "string",
                      "example": "/9j/4AAQSkZJRgABAgAAAQABAAD/.../.../9k=",
                      "description": "Captcha for you to display on your platform in the Base64 format."
                    },
                    "sessionId": {
                      "type": "string",
                      "example": "d4rKo15d-0619-4568-0369-b21tEEtH3962Q",
                      "description": "Session id for the oKYC request. You need to pass this in the request body in the Generate OTP and Download oKYC APIs.\n"
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "org_qMOPL369km74RKOz",
                      "description": "Your unique identifier in Bureau's database."
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": "200",
                      "description": "HTTP status code for the response."
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": "1705049954335",
                      "description": "Unix timestamp, in milliseconds, when the response was returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 401
                        },
                        "errorCode": {
                          "type": "string",
                          "example": "UNAUTHORIZED"
                        },
                        "service": {
                          "type": "string",
                          "example": "Overwatch"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": " "
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "integer",
                          "example": 0
                        },
                        "took": {
                          "type": "integer",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No Record Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 422
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 422,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 500
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal Server Error"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "Internal Server Error"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 500,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1657794502770,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Internal Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 503
                        },
                        "description": {
                          "type": "string",
                          "example": " "
                        },
                        "message": {
                          "type": "string",
                          "example": "INTERNAL_SERVICE_UNAVAILABLE"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "NO_RECORD_FOUND"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 503,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1705049954335,
                      "description": "Timestamp of the request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/services/generate-otp": {
      "post": {
        "summary": "2. Generate OTP",
        "tags": [
          "Aadhaar Verification - oKYC"
        ],
        "operationId": "Aadhaar OKYC Generate OTP",
        "description": "This API is part of Bureau's Offline Know Your Customer (oKYC) suite. This API verifies the captcha entered by the user and generates and sends an OTP to the mobile number linked to the entered Aadhaar number.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                    "description": "Unique identifier generated by Bureau for the request."
                  },
                  "uid": {
                    "type": "string",
                    "example": "396903690619",
                    "description": "Aadhaar number you want to verify. The OTP generated is sent to the mobile number linked to this Aadhaar number.\n",
                    "minLength": 12,
                    "maxLength": 12,
                    "pattern": "^[0-9]{12}$"
                  },
                  "captcha": {
                    "type": "string",
                    "example": "rLR2t",
                    "description": "Captcha entered by your customer. This captcha is matched with the captcha geenrated in the Generate Captcha API. If the captchas match, we generate an OTP and send it to the  mobile number linked to entered Aadhaar number.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "example": "d4rKo15d-0619-4568-0369-b21tEEtH3962Q",
                      "description": "Session id for the oKYC request. This is the same as the value enteres in the request body. You need to pass this in the request body in the Download oKYC APIs.\n"
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "org_qMOPL369km74RKOz",
                      "description": "Your unique identifier in Bureau's database."
                    },
                    "message": {
                      "type": "string",
                      "example": "OTP Generation Successful",
                      "description": "Message describing the API status.<br><br>Few possible values:<br>- `OTP Generation Successful`<br>- `Invalid UID.Please enter valid UID`<br>- `Captcha value doesn't match`\n"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "R8CexGs2BcwEXlA=",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "sessionActive": {
                      "type": "boolean",
                      "enum": [
                        true,
                        false
                      ],
                      "example": "true",
                      "description": "Indicates the status of the session.<br><br>Possible values:<br>- `true`: Session is active.<br>- `false`: Session is no longer active. You need to start the oKYC process again by generating a new captcha and asking your customer to verify the new captcha.\n"
                    },
                    "status": {
                      "type": "boolean",
                      "enum": [
                        true,
                        false
                      ],
                      "example": "true",
                      "description": "Indicates if an OTP was generated and sent to the mobile number linked to the entered Aadhaar number.<br><br>Possible values<br>- `true`: OTP was generated and sent to the mobile number linked to the entered Aadhaar number.<br>- `false`: OTP was not generated. Check the `message` parameter to know why.\n"
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": "200",
                      "description": "HTTP status code for the response."
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": "1705049954335",
                      "description": "Unix timestamp, in milliseconds, when the response was returned."
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "merchantId": "org_qMOPL369km74RKOz",
                      "message": "OTP Generation Successful",
                      "requestId": "R7x-QH_shcwEJvA=",
                      "sessionActive": true,
                      "sessionId": "251f18b0-0a42-4f0a-a832-ede3c36dffd8",
                      "status": true,
                      "statusCode": 200,
                      "timestamp": 1705914459183
                    }
                  },
                  "Invalid Captcha": {
                    "value": {
                      "merchantId": "org_qMOPL369km74RKOz",
                      "message": "Captcha value doesn't match",
                      "requestId": "R7xl4FiRBcwERYw=",
                      "sessionActive": true,
                      "sessionId": "251f18b0-0a42-4f0a-a832-ede3c36dffd8",
                      "status": false,
                      "statusCode": 200,
                      "timestamp": 1705914302984
                    }
                  },
                  "Captcha Expired": {
                    "value": {
                      "merchantId": "org_qMOPL369km74RKOz",
                      "message": "Captcha session expired, please try with new Captcha",
                      "requestId": "R7xl4FiRBcwERYw=",
                      "sessionActive": true,
                      "sessionId": "251f18b0-0a42-4f0a-a832-ede3c36dffd8",
                      "status": false,
                      "statusCode": 200,
                      "timestamp": 1705914302984
                    }
                  },
                  "Invalid Aadhaar": {
                    "value": {
                      "merchantId": "org_qMOPL369km74RKOz",
                      "message": "Invalid UID.Please enter valid UID",
                      "requestId": "R7xl4FiRBcwERYw=",
                      "sessionActive": true,
                      "sessionId": "251f18b0-0a42-4f0a-a832-ede3c36dffd8",
                      "status": false,
                      "statusCode": 200,
                      "timestamp": 1705914171332
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 400
                        },
                        "description": {
                          "type": "string",
                          "example": "Request contains an invalid param in request body which does not exist\n"
                        },
                        "message": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        },
                        "metadata": {
                          "type": "string",
                          "example": " "
                        },
                        "referenceId": {
                          "type": "string",
                          "example": "b090f2a1-ebf4-4fdc-bcdc-296cfc7e4ea1",
                          "description": "Identifier generated by Bureau to track the request."
                        },
                        "type": {
                          "type": "string",
                          "example": "BAD_REQUEST"
                        }
                      }
                    },
                    "merchantId": {
                      "type": "string",
                      "example": "auth0|61drko6dfd61920071be0369",
                      "description": "Bureau account identifier, will remain constant"
                    },
                    "requestId": {
                      "type": "string",
                      "example": "d46ff15d-1111-4568-1111-b21bbdd3962f",
                      "description": "Unique identifier generated by Bureau for the request."
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 400,
                      "description": "Status of the request"
                    },
                    "timestamp": {
                      "type": "integer",
[...]
